// Common
$base: 4px;

// Font Size
$fs-h1: 36px;
$fs-xxl: 28px;
$fs-xl: 22px;
$fs-lg: 18px;
$fs-md: 16px;
$fs-sm: 14px;
$fs-xs: 12px;

// Font Weight
$fw-100: 100;
$fw-200: 200;
$fw-300: 300;
$fw-400: 400;
$fw-500: 500;
$fw-600: 600;
$fw-700: 700;

// Colors
$color-primary: #1b1d21;
$color-secondary: #ffffff;
$color-lightBlack: #24272c;
$color-modalBg: #2f3640;
$color-modalBtn: #273c75;
$color-gray: #7f8c8d;
$color-lightBlue: #3498db;

// Transition
$transition: .2s;

// Border
$border-radius: 10px;
