.header {
  &-outer {
    width: 100%;

    background-color: red;
    grid-area: header;
  }

  &-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;
  }

  &__logo {
    font-size: $fs-h1;
    cursor: pointer;
    user-select: none;
  }

  &__nav {
    display: flex;
    align-items: center;

    font-size: $fs-lg;

    &-item {
      margin: 0 1rem;
      &-link {
        color: white;
      }
    }
  }

  &__right {
    display: flex;

    &-userPage {
      font-size: $fs-xl;
      color: white;
      margin-right: .5rem;
      cursor: pointer;

      &:hover {
        color: darken(white, 10%);
      }
    }
  }
}