.header {
  &-outer {
    width: 100%;

    background-color: $color-primary;
    grid-area: header;
    align-self: flex-start;
  }

  &-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;
  }

  &__logo {
    font-size: $fs-h1;
    color: $color-secondary;
    cursor: pointer;
    user-select: none;

    &:hover {
      transition: $transition;
      color: darken($color-secondary, 20%);
    }
  }

  &__nav {
    display: flex;
    align-items: center;

    font-size: $fs-lg;

    &-item {
      margin: 0 1rem;
      &-link {
        display: inline-block;
        color: $color-secondary;
        border-bottom: 1px solid transparent;

        &:hover {
          transition: $transition;
          border-color: $color-secondary;
          color: darken($color-secondary, 20%);
        }
      }
    }
  }

  &__right {
    display: flex;
    align-items: center;

    &-userPage {
      font-size: $fs-xl;
      color: $color-secondary;
      margin-right: 1rem;
      cursor: pointer;

      &:hover {
        transition: $transition;
        color: darken($color-secondary, 10%);
      }
    }

    &-btn {
      font-size: $fs-md;
      outline: none;
      border: none;
      background-color: $color-lightBlack;
      border-radius: .4rem;
      padding: 1rem 2rem;
      color: $color-secondary;
      cursor: pointer;

      &:hover {
        transition: $transition;
        color: darken($color-secondary, 10%);
      }

      &+& {
        margin-left: .5rem;
      }
    }
  }
}