.app {
  display: grid;
  height: 100vh;

  grid-template-columns: 0.4fr 1.5fr 0.5fr;
  grid-template-areas:
          "header header header"
          "l-aside main r-aside"
          "footer footer footer";
  grid-auto-rows: 10rem auto 10rem;
  grid-column-gap: .3rem;
}

.wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}